@model IEnumerable<CategoryModel>
@{
    ViewData["title"] = "Category Listed";
}
<a asp-action="Create" asp-controller="Category"> Add</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">Category Description</th>
            <th scope="col">Category Slug</th>
            <th scope="col">Product Status</th>
            <th scope="col">Product Mangager</th>


        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <th>@item.Name</th>
                <td>@item.Description</td>
                <td>@item.Slug</td>
                <td>
                    @if (@item.Status == 1)
                    {
                        <span class="text text-success"> Hiển thị</span>
                    }else{
                        <span class="text text-success"> Ẩn</span>
                    }
                </td>

                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Category" asp-route-Id="@item.Id"> Edit</a>
                    <form asp-action="Delete" asp-controller="Category" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?');">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm confirmDeletion">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>