@using ShopAPI.Models.ViewModels;
@model CartItemViewModel

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Image</td>
                        <td class="description">Item</td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CartItems != null && Model.CartItems.Count > 0)
                    {
                        foreach (var item in Model.CartItems)
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href="#">
                                        <img src="~/images/upload/@item.Image" alt="@item.ProductName" />
                                    </a>
                                </td>
                                <td class="cart_description">
                                    <h4>@item.ProductName</h4>
                                </td>
                                <td class="cart_price">
                                    <p>@item.Price</p>
                                </td>
                                <td class="cart_quantity">
                                    <a class="btn btn-default btn-sm" asp-action="Increase" asp-controller="Cart" asp-route-id="@item.ProductId">+</a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2" readonly />
                                    <a class="btn btn-default btn-sm" asp-action="Decrease" asp-controller="Cart" asp-route-id="@item.ProductId">-</a>
                                </td>

                                <td class="cart_total">
                                    <p class="cart_total_price">
                                        @(item.Quantity * item.Price)
                                    </p>
                                </td>
                                <td class="cart_quantity">
                                    <a class="btn btn-danger btn-sm" asp-action="Remove" asp-controller="Cart" asp-route-id="@item.ProductId">Delete</a>
                                </td>
                            </tr>
                     
                        }
                    <td colspan="5" class="text-right">
                        <a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Clear">Clear</a>
                    </td>
                   
                        <tr>
                            <td colspan="5" class="text-right">
                                <h4>Grand Total:</h4>
                            </td>
                           
                            <td>
                                <h4>@Model.GrandTotal</h4>
                            </td>
                        </tr>
                   
                  
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">
                                <h4>Your cart is empty</h4>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
